body{
    background-image:url("temple.jpg");
}
.hwrap {
    overflow: hidden; /* HIDE SCROLL BAR */
    background: rgb(250, 249, 249);
    color:black;
    margin-top: 25%;
    
  }
   
 
  .hmove { display: flex; }
  
  .hticker {
    flex-shrink: 0;
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    text-align: center;
   
  }
   
  /* (D) ANIMATION - MOVE ITEMS FROM RIGHT TO LEFT */
  /* 4 ITEMS -400%, CHANGE THIS IF YOU ADD/REMOVE ITEMS */
  @keyframes tickerh {
    0% { transform: translate3d(100%, 0, 0); }
    100% { transform: translate3d(-390%, 0, 0); }
  }
  .hmove { animation: tickerh linear 20s infinite; }
  .hmove:hover { animation-play-state: paused; }